html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:relative;
  overflow: hidden;
}

@keyframes blink {
  0%{
    background: #999;
  }
  100%{
    background: #333;
  }
}

body {
  animation: blink .8s infinite alternate-reverse;
  &.open {
    transition: background 1s;
    background: #fff;
    animation: none;
  }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width:100%;
  height:100%;
  margin: auto;
}